In [29]:
d = {}

In [30]:
d = {'name':'Uday','gender':'male'}
d

{'name': 'Uday', 'gender': 'male'}

In [31]:
d = {(1,2,3):1,'hello':'world'}

In [32]:
d[(1,2,3)]

1

In [38]:
s = {'name':'Uday','Gender':'male','subject':{
    'dsa':10
}}
s

{'name': 'Uday', 'Gender': 'male', 'subject': {'dsa': 10}}

In [43]:
s.values()

dict_values(['Uday', 'male', {'dsa': 10}])

In [45]:
input = 'aabacbdea'
d = {}
for i in input:
    if i in d:
        d[i] += 1
    else:
        d[i]= 1
d

In [47]:
input_str = 'aabacbdea'
char_count_list = []

for i in input_str:
    found = False
    for index, (char, count) in enumerate(char_count_list):
        if char == i:
            char_count_list[index] = (char, count + 1)
            found = True
            break
    if not found:
        char_count_list.append((i, 1))

print(char_count_list)

[('a', 4), ('b', 2), ('c', 1), ('d', 1), ('e', 1)]

In [63]:
d = {'name':'Uday','gender':'male'}
d['age'] = 26
d

{'name': 'Uday', 'gender': 'male', 'age': 26}

In [64]:
d.pop()
d

TypeError: pop expected at least 1 argument, got 0

In [65]:
d.popitem()
d

{'name': 'Uday', 'gender': 'male'}

In [67]:
{i:i**2 for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [68]:
distance = {'delhi':1000,'mumbai':2000,'banglore':3000}
# convert km to miles
{key:0.62*value for key,value in distance.items()}

{'delhi': 620.0, 'mumbai': 1240.0, 'banglore': 1860.0}

In [70]:
days = ['sunday','monday','tuesday','wednesday','thursday']
no = [1,2,3,4,5]
{i:j for i,j in zip(days,no)}

{'sunday': 1, 'monday': 2, 'tuesday': 3, 'wednesday': 4, 'thursday': 5}

In [74]:
# using if condition

products = {'phone':30,'laptop':0,'charger':32,'tablet':0}
{i:j for i,j in products.items() if j> 0}

{'phone': 30, 'charger': 32}

In [75]:
{
    2:{1:2,2:4,3:6,4:8,5:10},
    3:{1:3,2:5,3:9,4:12,5:15}

}

{2: {1: 2, 2: 4, 3: 6, 4: 8, 5: 10}, 3: {1: 3, 2: 5, 3: 9, 4: 12, 5: 15}}

In [84]:
{i:{j:i*j for j in range(1,11)} for i in range(2,5) }

{2: {1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20},
 3: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27, 10: 30},
 4: {1: 4, 2: 8, 3: 12, 4: 16, 5: 20, 6: 24, 7: 28, 8: 32, 9: 36, 10: 40}}

In [86]:
{i:{j:j*i for j in range(1,11)} for i in range(2,5)}

{2: {1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20},
 3: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27, 10: 30},
 4: {1: 4, 2: 8, 3: 12, 4: 16, 5: 20, 6: 24, 7: 28, 8: 32, 9: 36, 10: 40}}