In [1]:
list1 = ["M", "na", "i", "Kh"]
list2 = ["y", "me", "s", "an"]

In [2]:
'''[['M','y'], ['na', me'], ['i', 's'], ['Kh', 'an']]'''

"[['M','y'], ['na', me'], ['i', 's'], ['Kh', 'an']]"

In [5]:
[[i]+[j] for i,j in zip(list1,list2)]

[['M', 'y'], ['na', 'me'], ['i', 's'], ['Kh', 'an']]

In [9]:
[i+j for i,j in zip(list1,list2)]

['My', 'name', 'is', 'Khan']

In [15]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

list1[2][2].insert(2,7000)
list1

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [28]:
list1 = [1,2,3,4,5,6]
#fibaonaci
sum = 0
a = 0
b =[]
for i in list1:
    a = a+i
    b.append(a)

b

[1, 3, 6, 10, 15, 21]

In [35]:
a = 0
[a := a+i for i in list1]

[1, 3, 6, 10, 15, 21]

In [48]:
list1 = [2,4,6,10,1]
'''[22,20,16,10,23]'''

'[22,20,16,10,23]'

In [52]:
l = []
for i in list1:
    sum = 0
    for j in list1:
        if i<=j:
            sum = sum + j
    l.append(sum)
l

[22, 20, 16, 10, 23]

In [82]:
num1 = ['1ac21', '23fg', '456', '098d', '1', 'kls']
check = []
for i in num1:
    sum = 1
    for j in i:
        if j.isdigit():
            sum = sum * int(j)
    check.append(sum)


[i[1] for i in sorted(list(zip(check , num1)),reverse=True)]

['456', '23fg', '1ac21', 'kls', '1', '098d']

In [84]:
input1 = ['CampusX is a channel', 'for data-science', 'aspirants.']

'''['CampusX', 'is', 'a', 'channel', 'for', 'data-science', 'aspirants.']'''

"['CampusX', 'is', 'a', 'channel', 'for', 'data-science', 'aspirants.']"

In [109]:
l = []
for i in input1:
    l.append(i.split(' '))
[j for i in l for j in i]

['CampusX', 'is', 'a', 'channel', 'for', 'data-science', 'aspirants.']

In [119]:
[j for i in input1 for j in i.split(' ')]

['CampusX', 'is', 'a', 'channel', 'for', 'data-science', 'aspirants.']

In [ ]:
input1 = [['c', 'a', 'm', 'p', 'u', 'x'], ['i', 's'], ['b', 'e', 's', 't'], ['c', 'h', 'a', 'n', 'n', 'e', 'l']]

'''campux is best channel'''

In [132]:
" ".join([i for i in input1])

'CampusX is a channel for data-science aspirants.'

In [133]:
input1 = ['campusxIs', 'bestFor', 'dataScientist']
'''['campusx Is', 'best For', 'data Scientist']'''

"['campusx Is', 'best For', 'data Scientist']"

In [137]:
for i in input1:
    for j in i:
        if j.upper():
            index()

c
a
m
p
u
s
x
I
s
b
e
s
t
F
o
r
d
a
t
a
S
c
i
e
n
t
i
s
t