In [6]:
list1 = ["M", "na", "i", "Kh"]
list2 = ["y", "me", "s", "an"]

In [7]:
'''[['M','y'], ['na', me'], ['i', 's'], ['Kh', 'an']]'''

"[['M','y'], ['na', me'], ['i', 's'], ['Kh', 'an']]"

In [8]:
[[i]+[j] for i,j in zip(list1,list2)]

[['M', 'y'], ['na', 'me'], ['i', 's'], ['Kh', 'an']]

In [9]:
[i+j for i,j in zip(list1,list2)]

['My', 'name', 'is', 'Khan']

In [10]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
# '''[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]'''

In [11]:
list1[2][2].insert(2,7000)
list1

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [12]:
candy_list = ['Jelly Belly','Kit Kat','Double Bubble','Milky Way','Three Musketeers']
no_of_items = [10,20,34,74,32]

In [13]:
for i,j in zip(candy_list,no_of_items):
    print(i+'-'+f'{j}')

Jelly Belly-10
Kit Kat-20
Double Bubble-34
Milky Way-74
Three Musketeers-32

In [14]:
'''
Jelly Belly-10
Kit Kat-20
Double Bubble-34
Milky Way-74
Three Musketeers-32'''

'\nJelly Belly-10\nKit Kat-20\nDouble Bubble-34\nMilky Way-74\nThree Musketeers-32'

In [15]:
list1 = [1,2,3,4,5,6]
'''[1,3,6,10,15,21]'''

'[1,3,6,10,15,21]'

In [16]:
a = 0 
b = []
for i in list1:
    a = a + i
    b.append(a)

b

[1, 3, 6, 10, 15, 21]

In [17]:
a = 0
[a := a + i for i in list1]

[1, 3, 6, 10, 15, 21]

In [18]:
list1 = [2,4,6,10,1]
'''[22,20,16,10,23]'''

'[22,20,10,23]'

In [19]:
l = []
for i in list1:
    sum = 0
    for j in list1:
        if j>=i:
            sum = sum+j
    l.append(sum)

l

[22, 20, 16, 10, 23]

In [20]:
num1 = [23,45,67,78,89,34]
num2 = [34,89,55,56,39,67]

[i for i in num1 for j in num2 if j == i]

[67, 89, 34]

In [1]:
num1 = ['1ac21', '23fg', '456', '098d', '1', 'kls']
l = []
for i in num1:
    m = 1
    for j in (list(i)):
        if j.isdigit():
            m = m*int(j)
    


    l.append(m)

[i[1] for i in sorted(list(zip(l,num1)),reverse=True)]

['456', '23fg', '1ac21', 'kls', '1', '098d']

In [53]:
input1 = ['CampusX is a channel', 'for data-science', 'aspirants.']

'''['CampusX', 'is', 'a', 'channel', 'for', 'data-science', 'aspirants.']'''

"['CampusX', 'is', 'a', 'channel', 'for', 'data-science', 'aspirants.']"

In [54]:
l = []
for i in input1:
    l.append(i.split())

[j for i in l for j in i]

['CampusX', 'is', 'a', 'channel', 'for', 'data-science', 'aspirants.']

In [55]:
[j for i in input1 for j in i.split()]

['CampusX', 'is', 'a', 'channel', 'for', 'data-science', 'aspirants.']

In [63]:
input1 = [['c', 'a', 'm', 'p', 'u', 'x'], ['i', 's'], ['b', 'e', 's', 't'], ['c', 'h', 'a', 'n', 'n', 'e', 'l']]

'''campux is best channel'''

'campux is best channel'

In [72]:
a = ''
for i in input1:
    a = a + ''.join(i)+' '
a

'campux is best channel '

In [76]:
a = ''
" ".join(["".join(i)for i in input1])

'campux is best channel'

In [121]:
input1 = ['campusxIs', 'bestFor', 'dataScientist']
'''['campusx Is', 'best For', 'data Scientist']'''

"['campusx Is', 'best For', 'data Scientist']"

In [130]:
a= ''
res = []
for i in input1:
    temp = [[]]
    for j in i:
        if j.isupper():
            temp.append([])
        temp[-1].append(j)
    
    for i in temp:
        a =a +''.join(i)  + ' '
res.append(a[0:-1])

    
res

['campusx Is best For data Scientist']

In [134]:
a = [1,2,3,4,5,1]
b =[2,3,5,7,8]

set(a+b)

{1, 2, 3, 4, 5, 7, 8}

In [144]:
c = []

for i in a:
    if i not in c:
        c.append(i)

for i in b:
    if i not in c:
        c.append(i)

c

[1, 2, 3, 4, 5, 7, 8]

In [154]:
l1 = [[5,0,3],[4,5,6],[7,100,99]]

'''[3,6,9]'''

'[3,6,9]'

In [155]:
l2 = []
for i in l1:
    a = 0
    for j in i:
        if a<j:
            a = j
    l2.append(a)
l2

[5, 6, 100]