In [2]:
a ='I am Uday Sharma'

In [3]:
len(a)

16

In [4]:
c = 0
for i in a:
    c = c+1
print(c)

16

In [5]:
user = 'nitish24singh@gmail.com'

In [6]:
op = user.split('@')
op[0]

'nitish24singh'

In [7]:
count = 0
a = "Hello How are you"
char = 'O'
for i in a.lower():
    if i == char.lower():
        count = count + 1

print('Count of Char {} is {}'.format(char,count))

Count of Char O is 3

In [8]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'name':['Anil Bhallavi','Akash Raut'] ,'age':[17,36]})

In [9]:
df

            name  age
0  Anil Bhallavi   17
1     Akash Raut   36

In [10]:
df['name']

0    Anil Bhallavi
1       Akash Raut
Name: name, dtype: object

In [11]:
for idx,i in enumerate(df['name']):
    a = i.split()
    df.at[idx,'first_name'] =a[0]
    df.at[idx,'last_name'] =a[1] 

df

            name  age first_name last_name
0  Anil Bhallavi   17       Anil  Bhallavi
1     Akash Raut   36      Akash      Raut

In [12]:
for idx,i in enumerate(df['age']):
    df.at[idx,'eligibility'] = ['1' if i >=18 else '0']

In [13]:
df

            name  age first_name last_name eligibility
0  Anil Bhallavi   17       Anil  Bhallavi           0
1     Akash Raut   36      Akash      Raut         [1]

In [14]:
df['name'].str.split(expand=True)

       0         1
0   Anil  Bhallavi
1  Akash      Raut

In [15]:
s = 'Hi I am Uday Sharma'

In [16]:
char = 'i'

s.lower().replace('s','')

'hi i am uday harma'

In [17]:
a =[]

for i in s:
    if i.lower() == char.lower():
        continue
    else:
        a.append(i)


a = ''.join(a)

In [18]:
a

'H  am Uday Sharma'

In [19]:
# palindrom

In [20]:
s = input("Enter a string :- ")

flag = True
for i in range(0,(len(s)//2)):
    if s[i].lower() != s[len(s)-i-1].lower():
        flag = False
        print('Not a Palindrom')
        break

if flag:
    print('Palindrom')

Palindrom

In [38]:
#Palindrom

In [47]:
s = 'MalayalaM'

if s.lower() == s.lower()[::-1]:
    print("Palindrom")
else:
    print("Not Palindrom")

Palindrom

In [60]:
s = 'Malayalam'
flag = True
for i in range(0,len(s)//2):
    if s[i].lower() != s[len(s)-i-1].lower():
        flag =False
        print("Not Palindrom")
        break
if flag:
    print("Palindrom")

Palindrom

In [21]:
4//2

2

In [22]:
# Count no. of words without split function

s = 'Hi I am Anil Bhallavi working at NV'
c = 1
for i in s:
    if i ==' ':
        c = c+1

print(c)

8

In [65]:
s = 'Hi I am Uday'
temp = ''
c = 0
L = []
for i in s:
    if i != ' ':
        temp = temp+i
        # print(temp)
        
    else:
        L.append(temp)
        temp = ''
    
L.append(temp)


for i in L:
    c = c+1

print(L)
print(c)
print(len(s.split(' ')))

['Hi', 'I', 'am', 'Uday']
4
4

In [71]:
s = 'I am uday Sharma'
L=[]
temp = ''

for i in s:
    if i != ' ':
        temp =temp + i 
    else :
        L.append(temp)
        temp = ''

L.append(temp)
len(L)

4

In [76]:
# First Word Capitalize
s = 'uday sharma'
a = ''
L = []
for i in s.split():
    # print(i)
    a = (ord(i[0]) - 32)
    b = i[1:]
    d = (chr(a)+b)
    L.append(d)

In [93]:
# First Word Capitalize

s= 'uday sharma'

for i in s.split():
    # print(chr(ord(i[0])-32))
    a = ord(i[0])-32
    b = i[1:]
    print(chr(a)+b)

Uday
Sharma

In [75]:
L

['Uday', 'Sharma']

In [26]:
a = 32

In [27]:
type(a)

int

In [28]:
# Code here
'''
5 4 3 2 1 
4 3 2 1 
3 2 1 
2 1 
1
'''
for i in range(5,0,-1):
  
  for j in range(i,0,-1):
    print(j,end='')
  print('\n')

54321

4321

321

21

1

In [29]:
'''

* 
* * 
* * * 
* * * * 
* * * * * 
* * * * 
* * * 
* * 
*

'''

'\n\n* \n* * \n* * * \n* * * * \n* * * * * \n* * * * \n* * * \n* * \n*\n\n'

In [30]:
for i in range(1,6):
    for j in range(1,i+1):
        print('* ',end='')
    print('\n')
for i in range(1,5):
    for k in range(5,i,-1):
        print('* ',end='')
    print('\n')

*

* *

* * *

* * * *

* * * * *

* * * *

* * *

* *

*

In [31]:
'''
    * 
  * * * 
 * * * * 
* * * * *  
 * * * * 
  * * * 
   * * 
    *

'''

'\n    * \n  * * * \n * * * * \n* * * * *  \n * * * * \n  * * * \n   * * \n    *\n\n'

In [32]:
for i in range(6,0,-1):
    for j in range(i,0,-1):
        print(' ',end='')
    # print('\n')

    for k in range(i,i-j,-1):
        print('*',end='')

    for l in range(i+1+k-1,k+5):
        print(' ',end='')
    
    for l in range(i+k-1,k+5):
        print(' ',end='')
    
    for k in range(k+5,i+k-1,-5):
        print('*',end='')
     
    # for m in range(0,i):
    #     print('*',end='')
    print('\n')

for i in range(0,5):
    for j in range(i+1,0,-1):
        print(' ',end='')  
    for k in range(i,i-j,-1):
        print('*',end='')
    for l in range(i+1+k-1,k+5):
        print(' ',end='')
    for l in range(i+k-1,k+3):
        print(' ',end='')
    for k in range(k+5,i+k+1,-7):
        print('*',end='')
    print('\n')

      *

     * *

    *   *

   *     *

  *       *

 *         *

 *         *

  *       *

   *     *

    *   *

     *

In [33]:
'''
1

2 1

3 2 1

4 3 2 1

5 4 3 2 1
'''

'\n1\n\n2 1\n\n3 2 1\n\n4 3 2 1\n\n5 4 3 2 1\n'

In [34]:
for i in range(1,6):
    for j in range(i,0,-1):
        print(j,end='')
    print('\n')

1

21

321

4321

54321

In [35]:
n = int(input("Enter Value of n:- "))
x = int(input("Enter Value of x:- "))
sum = 0
if n == 1:
    print(1)
else:
    for i in range(2, n + 1):
        sum = sum + (x**i) / i  # Avoid using int() here

sum = sum + 1

print(sum)  # No need to convert to int() here

141358.65

In [36]:
int(2**3/2)

4

In [37]:
n = int(input("Enter Value of n:- "))
x = int(input("Enter Value of x:- "))

sum = 0

if x == 1:
    print(0)
else:
    for i in range(2,n+1):
        sum = sum + 0.5*( (x-1//x)**i  )

print(sum)

ValueError: invalid literal for int() with base 10: ''

In [94]:
'''2 + 22 + 222 + 2222 + 22222 '''

n = 5
sum = 0

In [ ]:
for i in range(1,n):
    print(((10**i)*2))

20
200
2000
20000

In [ ]:
sum = 0
s = 2
for i in range(0,n):
    sum = sum+s
    s =((s*10)+2)
print(sum)

24690

In [101]:
'''2 + 22 + 222 + 2222 + 22222 '''

num = 5
sum = 0
s = 2

for i in range(0,num):
    sum = sum +2
    s =

0
1
2
3
4

In [112]:
sum = 0
s = 2
for i in range(0,n):
    sum = sum+s
    s =((s*10)+2)
print(sum)

24690

In [153]:
# Decimal to Binary

decimal = 16
binary = []

while decimal:
    binary.append(decimal%2)
    decimal = decimal //2

binary.reverse()
print('Binary:-{}'.format(binary)) 


decimal = 0
binary.reverse()
for i in range(len(binary)):
    decimal = binary[i]*(2**i)+decimal

print('decimal:- {}'.format(decimal))

Binary:-[1, 0, 0, 0, 0]
decimal:- 16

In [150]:
# Binary to Decimal

decimal:- 11

In [ ]:
n = 4
l = []
for i in range(1,5):
    for j in range(1,5):
        for k in range(1,5):
            for l in range(1,5):
                print(i,j,k,l)

1 1 1 1
1 1 1 2
1 1 1 3
1 1 1 4
1 1 2 1
1 1 2 2
1 1 2 3
1 1 2 4
1 1 3 1
1 1 3 2
1 1 3 3
1 1 3 4
1 1 4 1
1 1 4 2
1 1 4 3
1 1 4 4
1 2 1 1
1 2 1 2
1 2 1 3
1 2 1 4
1 2 2 1
1 2 2 2
1 2 2 3
1 2 2 4
1 2 3 1
1 2 3 2
1 2 3 3
1 2 3 4
1 2 4 1
1 2 4 2
1 2 4 3
1 2 4 4
1 3 1 1
1 3 1 2
1 3 1 3
1 3 1 4
1 3 2 1
1 3 2 2
1 3 2 3
1 3 2 4
1 3 3 1
1 3 3 2
1 3 3 3
1 3 3 4
1 3 4 1
1 3 4 2
1 3 4 3
1 3 4 4
1 4 1 1
1 4 1 2
1 4 1 3
1 4 1 4
1 4 2 1
1 4 2 2
1 4 2 3
1 4 2 4
1 4 3 1
1 4 3 2
1 4 3 3
1 4 3 4
1 4 4 1
1 4 4 2
1 4 4 3
1 4 4 4
2 1 1 1
2 1 1 2
2 1 1 3
2 1 1 4
2 1 2 1
2 1 2 2
2 1 2 3
2 1 2 4
2 1 3 1
2 1 3 2
2 1 3 3
2 1 3 4
2 1 4 1
2 1 4 2
2 1 4 3
2 1 4 4
2 2 1 1
2 2 1 2
2 2 1 3
2 2 1 4
2 2 2 1
2 2 2 2
2 2 2 3
2 2 2 4
2 2 3 1
2 2 3 2
2 2 3 3
2 2 3 4
2 2 4 1
2 2 4 2
2 2 4 3
2 2 4 4
2 3 1 1
2 3 1 2
2 3 1 3
2 3 1 4
2 3 2 1
2 3 2 2
2 3 2 3
2 3 2 4
2 3 3 1
2 3 3 2
2 3 3 3
2 3 3 4
2 3 4 1
2 3 4 2
2 3 4 3
2 3 4 4
2 4 1 1
2 4 1 2
2 4 1 3
2 4 1 4
2 4 2 1
2 4 2 2
2 4 2 3
2 4 2 4
2 4 3 1
2 4 3 2
2 4 3 3
2 4 3 4
2 4 4 1
2 4 4 2
2 4 4 3
2 4 4 4
3 1 1 1
3 1 1 2
3 1 1 3
3 1 1 4
3 1 2 1
3 1 2 2
3 1 2 3
3 1 2 4
3 1 3 1
3 1 3 2
3 1 3 3
3 1 3 4
3 1 4 1
3 1 4 2
3 1 4 3
3 1 4 4
3 2 1 1
3 2 1 2
3 2 1 3
3 2 1 4
3 2 2 1
3 2 2 2
3 2 2 3
3 2 2 4
3 2 3 1
3 2 3 2
3 2 3 3
3 2 3 4
3 2 4 1
3 2 4 2
3 2 4 3
3 2 4 4
3 3 1 1
3 3 1 2
3 3 1 3
3 3 1 4
3 3 2 1
3 3 2 2
3 3 2 3
3 3 2 4
3 3 3 1
3 3 3 2
3 3 3 3
3 3 3 4
3 3 4 1
3 3 4 2
3 3 4 3
3 3 4 4
3 4 1 1
3 4 1 2
3 4 1 3
3 4 1 4
3 4 2 1
3 4 2 2
3 4 2 3
3 4 2 4
3 4 3 1
3 4 3 2
3 4 3 3
3 4 3 4
3 4 4 1
3 4 4 2
3 4 4 3
3 4 4 4
4 1 1 1
4 1 1 2
4 1 1 3
4 1 1 4
4 1 2 1
4 1 2 2
4 1 2 3
4 1 2 4
4 1 3 1
4 1 3 2
4 1 3 3
4 1 3 4
4 1 4 1
4 1 4 2
4 1 4 3
4 1 4 4
4 2 1 1
4 2 1 2
4 2 1 3
4 2 1 4
4 2 2 1
4 2 2 2
4 2 2 3
4 2 2 4
4 2 3 1
4 2 3 2
4 2 3 3
4 2 3 4
4 2 4 1
4 2 4 2
4 2 4 3
4 2 4 4
4 3 1 1
4 3 1 2
4 3 1 3
4 3 1 4
4 3 2 1
4 3 2 2
4 3 2 3
4 3 2 4
4 3 3 1
4 3 3 2
4 3 3 3
4 3 3 4
4 3 4 1
4 3 4 2
4 3 4 3
4 3 4 4
4 4 1 1
4 4 1 2
4 4 1 3
4 4 1 4
4 4 2 1
4 4 2 2
4 4 2 3
4 4 2 4
4 4 3 1
4 4 3 2
4 4 3 3
4 4 3 4
4 4 4 1
4 4 4 2
4 4 4 3
4 4 4 4

In [146]:

decimal = 11
binary = []

while decimal:
    binary.append(decimal%2)
    decimal = decimal // 2
    

binary.reverse()
binary

[1, 0, 1, 1]

In [ ]:
decimal = 0
binary.reverse()
for i in range(0,len(binary)):
    decimal = binary[i]*(2**i)+decimal

decimal

15

In [ ]:
import math
a = 12
b = 18

abs(a*b) // math.gcd(a,b)

36

In [157]:
# LCM
a = 12
b = 18
if a>b:
    greater = a

else:
    greater = b

while greater:
    if greater % a   == 0 and greater % b == 0:
        print(greater)
        break 
    else:
        greater = greater +1

198

In [156]:
# LCM
a = 18
b = 11
greater = 0
if a>b:
    greater = a
else :
    greater = b

while greater:
    if greater % a == 0 and greater % b == 0:
        print(greater)
        break
    else:
        greater +=1

198

In [ ]:
# HCF 

a = 12
b = 18

if a<b:
    smaller = a

else:
    smaller = b
HCF = 0
for i in range(2,smaller+1//2):
    if a %i == 0 and b % i == 0:
        HCF = i
        
print(HCF)

6

In [162]:
# HCF
a =12
b = 18

if a<b:
    smaller = a
else :
    smaller = b
hcf = 0
for i in range(2,smaller):
    if a%i == 0 and b %i ==0:
        hcf = i
        # break
    else:
        i +=1

print(hcf)

6

In [ ]:
s = 'Data science mentorship program'
[s]
l = []
for i in s.split():
    l.append(i[0].upper())
''.join(l)

'DSMP'

In [168]:
s= 'data science mentorship program'

for i in s.split():
    print(chr(ord(i[0])-32))

D
S
M
P

In [ ]:
# Append second string in the middle of first string
'''
campusx
data

o/p :- camdatapusx
'''

'\ncampusx\ndata\n\no/p :- camdatapusx\n'

In [175]:
a = 'campusx'
b = 'data'

a[:len(a)//2] + b + a[len(a)//2:]

'camdatapusx'

In [ ]:
a = 'campusx'
b = 'data'

In [ ]:
len(a)//2

o_p = a[:len(a)//2] + b + a[len(a)//2+1:] 
o_p

'camdatausx'

In [ ]:
'''
str1 = PyNaTive

Expected Output:

yaivePNT'''

In [ ]:
str1 = 'PyNaTive'
l = []
c = []
for i in str1:
    if i == i.lower():
        l.append(i)
    elif i == i.upper():
        c.append(i)

''.join(l +c)

In [ ]:
'''
str1 = PyNaTive

Expected Output:

yaivePNT'''

In [186]:
str1 = 'PyNaTive'
sm = []
bg = []

for i in str1:
    if i == i.lower():
        sm.append(i)
    elif i == i.upper():
        bg.append(i)
''.join(sm+bg)

'yaivePNT'

In [181]:
ord('z')

122

In [ ]:
a = 'hel12304every093'
l = []
sum = 0
c = 0
mean = 0
for i in a:
    if ord(i) >= 48 and ord(i) <= 57:
        sum = sum + int(i)
        c = c+1
        l.append(i)

print('sum',sum)
print('mean',sum/c)
l

sum 22
mean 2.75

['1', '2', '3', '0', '4', '0', '9', '3']

In [192]:
a = 'hel12304every093'
sum = 0
c = 0
# Find sum and mean of digits only

for i in a:
    if i.isdigit():
        c = c+1
        sum = sum +int(i)
    

sum,sum/c

(22, 2.75)

In [ ]:
22/8

2.75

In [ ]:
s = 'geeks quiz practice code'
s = s.split()
l = []
for i in range(len(s)-1,-1,-1):
    l.append(s[i])

' '.join(l)

'code practice quiz geeks'

In [ ]:
len(s.split())

4

In [ ]:
'''
A = "apple banana mango" 
B = "banana fruits mango"

Output:

['apple', 'fruits']
'''

In [ ]:
a = "apple banana mango" 
b = "banana fruits mango"

In [ ]:
l= []
for i in a.split():
    if i not in b:
        l.append(i)

for j in b.split():
    if j not in a:
        l.append(j)
    
set(l)

{'apple', 'fruits'}

In [ ]:
s = 'khokho'

a = s[:len(s)//2]
b = s[len(s)//2:]

a == b

True

In [ ]:
s = 'We can learn data science through campusx mentorship program'

for idx , i in enumerate(s.split()):
    if i == 'campusx':
        print(idx+1)

7

In [ ]:
s = 'aaaaaaaaaaaaaeeeeeeeeeeeffffff'
res = []
for i in s:
    if i not in res:
        res.append(i)


''.join(res)

'aef'

In [ ]:
print(list('hello,world'))

['h', 'e', 'l', 'l', 'o', ',', 'w', 'o', 'r', 'l', 'd']

In [ ]:
l = [i for i in range(1,11)]

In [193]:
[i for i in range(1,11)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [194]:
v = [2,3,4]
[i*-3 for i in v]

[-6, -9, -12]

In [ ]:
v = [2,3,4]
s = -3

[i*-3 for i in [2,3,4]]

[-6, -9, -12]

In [ ]:
[i**2 for i in [1,2,3,4,5]]

[1, 4, 9, 16, 25]

In [ ]:
[i for i in range(1,51) if i%5==0 ]

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [ ]:
lang = ['java','python','php','c','javascript']
[i for i in lang if i.startswith('p')]

['python', 'php']

In [ ]:
basket = ['apple','guava','cherry','banana']
my_fruits = ['apple','kiwi','grapes','banana']


[i  for i in basket if i in my_fruits if i.startswith('a')]

['apple']

In [197]:
basket = ['apple','guava','cherry','banana']
my_fruits = ['apple','kiwi','grapes','banana']

[i for i in basket if i in my_fruits if i.startswith('b')]

['banana']

In [ ]:
[[[[ i*j*k*l for i in range(1,4)] for j in range(1,4)] for k in range(1,4)] for l in range(1,4)]

[[[[1, 2, 3], [2, 4, 6], [3, 6, 9]],
  [[2, 4, 6], [4, 8, 12], [6, 12, 18]],
  [[3, 6, 9], [6, 12, 18], [9, 18, 27]]],
 [[[2, 4, 6], [4, 8, 12], [6, 12, 18]],
  [[4, 8, 12], [8, 16, 24], [12, 24, 36]],
  [[6, 12, 18], [12, 24, 36], [18, 36, 54]]],
 [[[3, 6, 9], [6, 12, 18], [9, 18, 27]],
  [[6, 12, 18], [12, 24, 36], [18, 36, 54]],
  [[9, 18, 27], [18, 36, 54], [27, 54, 81]]]]

In [ ]:
[i*j for i in range(1,4) for j in range(1,4)]

[1, 2, 3, 2, 4, 6, 3, 6, 9]

In [ ]:
l1 = [1,2,3,4]
l2 = [5,6,7,8]

[i*j for i in l1 for j in l2]

[5, 6, 7, 8, 10, 12, 14, 16, 15, 18, 21, 24, 20, 24, 28, 32]

In [ ]:
l1 = [1,2,3,4]
l2 = [-2,-2,-3,-4,-5]

list(zip(l1,l2))

[i+j for i,j in zip(l1,l2)]

[-1, 0, 0, 0]

In [ ]:
l1 = [[1],[2],[3]]

[j for i in l1 for j in i]

[1, 2, 3]

In [201]:
l1 = [[[1],[2],[3]]]

[k for i in l1 for j in i for k in j]

[1, 2, 3]