In [1]:
# Empty

t1 = ()
print(t1)

t2 = ('hello')
t3 = ('hello',)

print(type(t2))
print(type(t3))

()
<class 'str'>
<class 'tuple'>

In [18]:
t3 = (1,2,3,4)

In [16]:
del t3

In [17]:
t3

NameError: name 't3' is not defined

In [21]:
t1 = (1,2,3)
t2 = (4,5,6)

t1*3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [22]:
l = [1,2,4,5,]

6

In [32]:
a = 'aabacbdeaa'
l = {}
for i in a:
    c = 0
    for j in a:
        if i==j:
            c += 1
    l[i] = c

l

{'a': 5, 'b': 2, 'c': 1, 'd': 1, 'e': 1}

In [31]:
a = 1
b = 2

a,b = b,a
a , b

(2, 1)