In [2]:
import pandas as pd
import numpy as np

# TimeDelta

Change in Time

In [7]:
# Create using Timestamp Objects
t1 = pd.Timestamp('6th Jan 2023 8:20:14')
t2 = pd.Timestamp('26th Jan 2023 10:17:40')

t2-t1

Timedelta('20 days 01:57:26')

In [13]:
# Standalone creation

pd.Timedelta(days=2,hours=10,minutes=10,seconds=10,milliseconds=100)

Timedelta('2 days 10:10:10.100000')

In [14]:
# Arithemtic

pd.Timestamp('6th Jan 2023') + pd.Timedelta(days=2,hours=10,minutes=10,seconds=10,milliseconds=100)

Timestamp('2023-01-08 10:10:10.100000')

In [17]:
pd.date_range(start='2023-1-6',end='2023-1-31',freq='D') + pd.Timedelta(days=2,hours=10,minutes=10,seconds=10,milliseconds=100)

DatetimeIndex(['2023-01-08 10:10:10.100000', '2023-01-09 10:10:10.100000',
               '2023-01-10 10:10:10.100000', '2023-01-11 10:10:10.100000',
               '2023-01-12 10:10:10.100000', '2023-01-13 10:10:10.100000',
               '2023-01-14 10:10:10.100000', '2023-01-15 10:10:10.100000',
               '2023-01-16 10:10:10.100000', '2023-01-17 10:10:10.100000',
               '2023-01-18 10:10:10.100000', '2023-01-19 10:10:10.100000',
               '2023-01-20 10:10:10.100000', '2023-01-21 10:10:10.100000',
               '2023-01-22 10:10:10.100000', '2023-01-23 10:10:10.100000',
               '2023-01-24 10:10:10.100000', '2023-01-25 10:10:10.100000',
               '2023-01-26 10:10:10.100000', '2023-01-27 10:10:10.100000',
               '2023-01-28 10:10:10.100000', '2023-01-29 10:10:10.100000',
               '2023-01-30 10:10:10.100000', '2023-01-31 10:10:10.100000',
               '2023-02-01 10:10:10.100000', '2023-02-02 10:10:10.100000'],
              dtype='datetime64[ns]', freq='D')

In [19]:
# Real Life Example
df = pd.read_csv("deliveries_order.csv")
df.head()

  order_date delivery_date
0    5/24/98        2/5/99
1    4/22/92        3/6/98
2    2/10/91       8/26/92
3    7/21/92      11/20/97
4     9/2/93       6/10/98

In [24]:
df['order_date'] = pd.to_datetime(df['order_date'])

In [26]:
df['delivery_date'] = pd.to_datetime(df['delivery_date'])

In [30]:
df['delivery_timeperiod'] = df['delivery_date'] - df['order_date']

In [31]:
df.head()

  order_date delivery_date delivery_timeperiod
0 1998-05-24    1999-02-05            257 days
1 1992-04-22    1998-03-06           2144 days
2 1991-02-10    1992-08-26            563 days
3 1992-07-21    1997-11-20           1948 days
4 1993-09-02    1998-06-10           1742 days

In [32]:
df['delivery_timeperiod'].mean()

Timedelta('1217 days 22:53:53.532934128')

# TimeSeries

In [33]:
df1 = pd.read_csv("google.csv")

In [35]:
df1.head()

         Date       Open       High        Low      Close  Adj Close    Volume
0  2004-08-19  49.813290  51.835709  47.800831  49.982655  49.982655  44871361
1  2004-08-20  50.316402  54.336334  50.062355  53.952770  53.952770  22942874
2  2004-08-23  55.168217  56.528118  54.321388  54.495735  54.495735  18342897
3  2004-08-24  55.412300  55.591629  51.591621  52.239197  52.239197  15319808
4  2004-08-25  52.284027  53.798351  51.746044  52.802086  52.802086   9232276

In [40]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4471 entries, 0 to 4470
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       4471 non-null   datetime64[ns]
 1   Open       4471 non-null   float64
 2   High       4471 non-null   float64
 3   Low        4471 non-null   float64
 4   Close      4471 non-null   float64
 5   Adj Close  4471 non-null   float64
 6   Volume     4471 non-null   int64
dtypes: datetime64[ns](1), float64(5), int64(1)
memory usage: 244.6 KB

In [38]:
df1['Date'] = pd.to_datetime(df1['Date'])

In [43]:
df1.set_index('Date',inplace=True)

In [47]:
df1.head(1)

                Open       High        Low      Close  Adj Close    Volume
Date
2004-08-19  49.81329  51.835709  47.800831  49.982655  49.982655  44871361

In [50]:
# Fetch a Specific Date
df1.loc['2021-12-31']

Open           2910.879883
High           2927.300049
Low            2893.550049
Close          2893.590088
Adj Close      2893.590088
Volume       864900.000000
Name: 2021-12-31 00:00:00, dtype: float64

In [52]:
# Partial Indexing -> Select a particular year/month

df1.loc['2021-12']
df1.loc['2021']

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-01-04,1757.540039,1760.650024,1707.849976,1728.239990,1728.239990,1901900
2021-01-05,1725.000000,1747.670044,1718.015015,1740.920044,1740.920044,1145300
2021-01-06,1702.630005,1748.000000,1699.000000,1735.290039,1735.290039,2602100
2021-01-07,1740.060059,1788.400024,1737.050049,1787.250000,1787.250000,2265000
2021-01-08,1787.979980,1809.839966,1773.535034,1807.209961,1807.209961,2050600
...,...,...,...,...,...,...
2021-12-27,2949.270020,2968.530029,2945.000000,2961.280029,2961.280029,662800
2021-12-28,2967.489990,2967.489990,2918.709961,2928.959961,2928.959961,931200
2021-12-29,2928.590088,2943.675049,2910.090088,2930.090088,2930.090088,851100
2021-12-30,2929.000000,2941.250000,2915.169922,2920.050049,2920.050049,648900
2021-12-31,2910.879883,2927.300049,2893.550049,2893.590088,2893.590088,864900

In [61]:
# Create year month-name and day-name

df1['month_name'] = df1.index.month_name()
df1['weekday_name'] = df1.index.day_name()
df1['quarter'] = df1.index.quarter

In [63]:
df1['weekday_name'].value_counts()

Wednesday    918
Tuesday      916
Thursday     903
Friday       895
Monday       839
Name: weekday_name, dtype: int64

# Slicing

In [66]:
df1.loc['2020-01-15':'2020-01-31']

,Open,High,Low,Close,Adj Close,Volume,month_name,weekday_name,quarter
Date,,,,,,,,,
2020-01-15,1430.209961,1441.395020,1430.209961,1439.199951,1439.199951,1282700,January,Wednesday,1
2020-01-16,1447.439941,1451.989990,1440.920044,1451.699951,1451.699951,1173700,January,Thursday,1
2020-01-17,1462.910034,1481.295044,1458.219971,1480.390015,1480.390015,2396200,January,Friday,1
2020-01-21,1479.119995,1491.849976,1471.199951,1484.400024,1484.400024,2036700,January,Tuesday,1
2020-01-22,1491.000000,1503.213989,1484.930054,1485.949951,1485.949951,1610800,January,Wednesday,1
2020-01-23,1487.640015,1495.520020,1482.099976,1486.650024,1486.650024,1351200,January,Thursday,1
2020-01-24,1493.589966,1495.494995,1465.250000,1466.709961,1466.709961,1784600,January,Friday,1
2020-01-27,1431.000000,1438.069946,1421.199951,1433.900024,1433.900024,1755200,January,Monday,1
2020-01-28,1443.000000,1456.000000,1432.469971,1452.560059,1452.560059,1577400,January,Tuesday,1
2020-01-29,1458.800049,1465.430054,1446.739990,1458.630005,1458.630005,1077700,January,Wednesday,1
2020-01-30,1439.959961,1457.280029,1436.400024,1455.839966,1455.839966,1339400,January,Thursday,1
2020-01-31,1468.900024,1470.130005,1428.530029,1434.229980,1434.229980,2417200,January,Friday,1